grid-incubation/incubator/projects/mdr/projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/query.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cfg="http://cagrid.org/schema/config" xmlns="http://cagrid.org/schema/query" elementFormDefault="qualified" targetNamespace="http://cagrid.org/schema/query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="config.xsd" namespace="http://cagrid.org/schema/config" />
  <xs:element name="queryFilter" type="queryFilter" />
  <xs:complexType name="queryFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="context" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="query" type="query" />
  <xs:complexType name="query">
    <xs:sequence>
      <xs:element minOccurs="0" name="serviceUrl" nillable="true" type="xs:anyURI" />
      <xs:element name="resource" type="xs:string" />
      <xs:element minOccurs="0" name="src" nillable="true" type="xs:string" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="term" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="exactTerm" type="xs:string" />
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="version" type="xs:string" />
        </xs:sequence>
      </xs:choice>
      <xs:element minOccurs="0" default="0" name="startIndex" type="xs:int" />
      <xs:element minOccurs="0" default="10" name="numResults" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" ref="queryFilter" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>