grid-incubation/incubator/projects/mdr/projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/result-set.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://cagrid.org/schema/result-set" elementFormDefault="qualified" targetNamespace="http://cagrid.org/schema/result-set" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result-set" type="result-set" />
  <xs:complexType name="result-set">
    <xs:sequence>
      <xs:element name="status" type="xs:string" />
      <xs:choice minOccurs="0">
        <xs:element maxOccurs="unbounded" ref="concept" />
        <xs:element maxOccurs="unbounded" ref="data-element" />
        <xs:element maxOccurs="unbounded" ref="object-class" />
        <xs:element maxOccurs="unbounded" ref="property" />
        <xs:element ref="node" />
        <xs:element maxOccurs="unbounded" ref="classification_scheme" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element abstract="true" name="common-info" type="common-info" />
  <xs:complexType name="common-info">
    <xs:sequence>
      <xs:element ref="names" />
      <xs:element minOccurs="0" ref="definition" />
      <xs:element minOccurs="0" name="workflow-status" type="xs:string" />
      <xs:element minOccurs="0" name="registration-status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="definition" type="definition" />
  <xs:complexType name="definition">
    <xs:sequence>
      <xs:element name="value" type="xs:string" />
      <xs:element minOccurs="0" name="source">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="abbreviation" type="xs:string" />
            <xs:element minOccurs="0" name="code" type="xs:string" />
            <xs:element minOccurs="0" name="description" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="names" type="names" />
  <xs:complexType name="names">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="preferred" type="xs:string" />
      <xs:element ref="all-names" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="all-names" type="all-names" />
  <xs:complexType name="all-names">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data-element" type="data-element" />
  <xs:complexType name="data-element">
    <xs:complexContent mixed="false">
      <xs:extension base="common-info">
        <xs:sequence>
          <xs:element ref="values" />
          <xs:element minOccurs="0" ref="conceptCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="values" type="values" />
  <xs:complexType name="values">
    <xs:choice>
      <xs:element ref="enumerated" />
      <xs:element ref="non-enumerated" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="non-enumerated" type="non-enumerated" />
  <xs:complexType name="non-enumerated">
    <xs:sequence>
      <xs:element name="data-type" type="xs:string" />
      <xs:element name="units" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enumerated" type="enumerated" />
  <xs:complexType name="enumerated">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="valid-value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="valid-value" type="valid-value" />
  <xs:complexType name="valid-value">
    <xs:sequence>
      <xs:element name="code" type="xs:string" />
      <xs:element ref="meaning" />
      <xs:element minOccurs="0" ref="conceptCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="meaning" type="meaning" />
  <xs:complexType name="meaning">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="conceptRef" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="concept" type="concept" />
  <xs:complexType name="concept">
    <xs:complexContent mixed="false">
      <xs:extension base="common-info">
        <xs:sequence>
          <xs:element ref="properties" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="properties" type="properties" />
  <xs:complexType name="properties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="property">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="property" type="property" />
  <xs:complexType name="property">
    <xs:complexContent mixed="false">
      <xs:extension base="common-info">
        <xs:sequence>
          <xs:element minOccurs="0" ref="conceptCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="classification_scheme" type="classification_scheme" />
  <xs:complexType name="classification_scheme">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="uri" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="node" type="node" />
  <xs:complexType name="node">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="node" />
    </xs:sequence>
    <xs:attribute name="prefix" type="xs:anyURI" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="label" type="xs:string" />
  </xs:complexType>
  <xs:element name="object-class" type="object-class" />
  <xs:complexType name="object-class">
    <xs:complexContent mixed="false">
      <xs:extension base="common-info">
        <xs:sequence>
          <xs:element minOccurs="0" ref="conceptCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="conceptCollection" type="conceptCollection" />
  <xs:complexType name="conceptCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="conceptRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="conceptRef" type="conceptRef" />
  <xs:complexType name="conceptRef">
    <xs:sequence>
      <xs:element name="id" type="xs:string" />
      <xs:element name="source" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="definition" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>