grid-incubation/incubator/projects/TideDataTransfer/projects/tideReplicaManager/schema/TideReplicaManager/TideReplicaManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://replica.tide.cagrid.org/TideReplicaManager" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns5="http://transfer.cagrid.org/Transfer" xmlns:ns1="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns0="http://tide.cagrid.org/TideDescriptor" xmlns:ns6="http://replica.tide.cagrid.org/TideReplicaManager/Context/types" xmlns:ns3="http://replica.tide.cagrid.org/TideReplicaManager/types" xmlns:ns7="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="TideReplicaManager" targetNamespace="http://replica.tide.cagrid.org/TideReplicaManager">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://replica.tide.cagrid.org/TideReplicaManager" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./../ws/addressing/WS-Addressing.xsd" />
      <import namespace="http://tide.cagrid.org/TideDescriptor" schemaLocation="./TideDescriptor.xsd" />
      <import namespace="http://replica.tide.cagrid.org/TideReplicaManager/Context/types" schemaLocation="./TideReplicaManagerContextTypes.xsd" />
      <import namespace="http://replica.tide.cagrid.org/TideReplicaManager/types" schemaLocation="./TideReplicaManagerTypes.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="CreateTideReplicaManagerContextRequest">
        <complexType>
          <sequence>
            <element name="tideDescriptor">
              <complexType>
                <sequence>
                  <element ref="ns0:TideDescriptor" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateTideReplicaManagerContextResponse">
        <complexType>
          <sequence>
            <element ref="ns6:TideReplicaManagerContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetTideReplicaManagerContextRequest">
        <complexType>
          <sequence>
            <element name="tideID" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetTideReplicaManagerContextResponse">
        <complexType>
          <sequence>
            <element ref="ns6:TideReplicaManagerContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ListTidesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ListTidesResponse">
        <complexType>
          <sequence>
            <element ref="ns0:TideInformation" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="QueryTidesRequest">
        <complexType>
          <sequence>
            <element name="string" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="QueryTidesResponse">
        <complexType>
          <sequence>
            <element ref="ns0:TideInformation" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="TideReplicaManagerResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="CreateTideReplicaManagerContextRequest">
    <part name="parameters" element="tns:CreateTideReplicaManagerContextRequest" />
  </message>
  <message name="CreateTideReplicaManagerContextResponse">
    <part name="parameters" element="tns:CreateTideReplicaManagerContextResponse" />
  </message>
  <message name="GetTideReplicaManagerContextRequest">
    <part name="parameters" element="tns:GetTideReplicaManagerContextRequest" />
  </message>
  <message name="GetTideReplicaManagerContextResponse">
    <part name="parameters" element="tns:GetTideReplicaManagerContextResponse" />
  </message>
  <message name="ListTidesRequest">
    <part name="parameters" element="tns:ListTidesRequest" />
  </message>
  <message name="ListTidesResponse">
    <part name="parameters" element="tns:ListTidesResponse" />
  </message>
  <message name="QueryTidesRequest">
    <part name="parameters" element="tns:QueryTidesRequest" />
  </message>
  <message name="QueryTidesResponse">
    <part name="parameters" element="tns:QueryTidesResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="TideReplicaManagerPortType" wsrp:ResourceProperties="tns:TideReplicaManagerResourceProperties">
    <operation name="createTideReplicaManagerContext">
      <input message="tns:CreateTideReplicaManagerContextRequest" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/CreateTideReplicaManagerContextRequest" />
      <output message="tns:CreateTideReplicaManagerContextResponse" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/CreateTideReplicaManagerContextResponse" />
    </operation>
    <operation name="getTideReplicaManagerContext">
      <input message="tns:GetTideReplicaManagerContextRequest" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/GetTideReplicaManagerContextRequest" />
      <output message="tns:GetTideReplicaManagerContextResponse" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/GetTideReplicaManagerContextResponse" />
    </operation>
    <operation name="listTides">
      <input message="tns:ListTidesRequest" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/ListTidesRequest" />
      <output message="tns:ListTidesResponse" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/ListTidesResponse" />
    </operation>
    <operation name="queryTides">
      <input message="tns:QueryTidesRequest" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/QueryTidesRequest" />
      <output message="tns:QueryTidesResponse" wsa:Action="http://replica.tide.cagrid.org/TideReplicaManager/QueryTidesResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

