grid-incubation/incubator/projects/workflowHelper/schema/WorkflowHelper/WorkflowInvocationHelper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns2="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns4="http://helper.workflow.cagrid.org/WorkflowHelper/Instance/types" xmlns:ns2="http://helper.workflow.cagrid.org/WorkflowHelper/types" xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns5="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns6="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/types" xmlns:ns1="http://workflowhelperservice.workflow.cagrid.org/WorkflowHelperService" name="WorkflowInvocationHelper" targetNamespace="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="./../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://helper.workflow.cagrid.org/WorkflowHelper/Instance/types" schemaLocation="./WorkflowInstanceHelperTypes.xsd" />
      <import namespace="http://helper.workflow.cagrid.org/WorkflowHelper/types" schemaLocation="./WorkflowHelperTypes.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="./WS-Addressing.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/types" schemaLocation="./WorkflowInvocationHelperTypes.xsd" />
      <import namespace="http://workflowhelperservice.workflow.cagrid.org/WorkflowHelperService" schemaLocation="./WorkflowHelper.xsd" />
      <element name="ConfigureInputRequest">
        <complexType>
          <sequence>
            <element name="operationInputMessageDescriptor">
              <complexType>
                <sequence>
                  <element ref="ns1:OperationInputMessageDescriptor" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ConfigureInputResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ConfigureOutputRequest">
        <complexType>
          <sequence>
            <element name="operationOutputTransportDescriptor">
              <complexType>
                <sequence>
                  <element ref="ns1:OperationOutputTransportDescriptor" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="ConfigureOutputResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetParameterRequest">
        <complexType>
          <sequence>
            <element name="inputParameter">
              <complexType>
                <sequence>
                  <element ref="ns1:InputParameter" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SetParameterResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetParametersRequest">
        <complexType>
          <sequence>
            <element name="inputParameters">
              <complexType>
                <sequence>
                  <element ref="ns1:InputParameter" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SetParametersResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetEPRStringRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetEPRStringResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="StartRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StartResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StartStreamingRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StartStreamingResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="EndStreamingRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="EndStreamingResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="WorkflowInvocationHelperResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns5:CurrentTime" />
            <element ref="ns5:TerminationTime" />
            <element ref="ns1:WorkflowInvocationHelperDescriptor" />
            <element ref="ns1:OperationInputMessageDescriptor" />
            <element ref="ns1:OperationOutputTransportDescriptor" />
            <element ref="ns1:TimestampedStatus" />
            <element ref="ns1:InstrumentationRecord" />
            <element ref="ns1:OutputReady" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="ConfigureInputRequest">
    <part name="parameters" element="tns:ConfigureInputRequest" />
  </message>
  <message name="ConfigureInputResponse">
    <part name="parameters" element="tns:ConfigureInputResponse" />
  </message>
  <message name="ConfigureOutputRequest">
    <part name="parameters" element="tns:ConfigureOutputRequest" />
  </message>
  <message name="ConfigureOutputResponse">
    <part name="parameters" element="tns:ConfigureOutputResponse" />
  </message>
  <message name="SetParameterRequest">
    <part name="parameters" element="tns:SetParameterRequest" />
  </message>
  <message name="SetParameterResponse">
    <part name="parameters" element="tns:SetParameterResponse" />
  </message>
  <message name="SetParametersRequest">
    <part name="parameters" element="tns:SetParametersRequest" />
  </message>
  <message name="SetParametersResponse">
    <part name="parameters" element="tns:SetParametersResponse" />
  </message>
  <message name="GetEPRStringRequest">
    <part name="parameters" element="tns:GetEPRStringRequest" />
  </message>
  <message name="GetEPRStringResponse">
    <part name="parameters" element="tns:GetEPRStringResponse" />
  </message>
  <message name="StartRequest">
    <part name="parameters" element="tns:StartRequest" />
  </message>
  <message name="StartResponse">
    <part name="parameters" element="tns:StartResponse" />
  </message>
  <message name="StartStreamingRequest">
    <part name="parameters" element="tns:StartStreamingRequest" />
  </message>
  <message name="StartStreamingResponse">
    <part name="parameters" element="tns:StartStreamingResponse" />
  </message>
  <message name="EndStreamingRequest">
    <part name="parameters" element="tns:EndStreamingRequest" />
  </message>
  <message name="EndStreamingResponse">
    <part name="parameters" element="tns:EndStreamingResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="WorkflowInvocationHelperPortType" wsrp:ResourceProperties="tns:WorkflowInvocationHelperResourceProperties">
    <operation name="configureInput">
      <input message="tns:ConfigureInputRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/ConfigureInputRequest" />
      <output message="tns:ConfigureInputResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/ConfigureInputResponse" />
    </operation>
    <operation name="configureOutput">
      <input message="tns:ConfigureOutputRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/ConfigureOutputRequest" />
      <output message="tns:ConfigureOutputResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/ConfigureOutputResponse" />
    </operation>
    <operation name="setParameter">
      <input message="tns:SetParameterRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/SetParameterRequest" />
      <output message="tns:SetParameterResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/SetParameterResponse" />
    </operation>
    <operation name="setParameters">
      <input message="tns:SetParametersRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/SetParametersRequest" />
      <output message="tns:SetParametersResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/SetParametersResponse" />
    </operation>
    <operation name="getEPRString">
      <input message="tns:GetEPRStringRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/GetEPRStringRequest" />
      <output message="tns:GetEPRStringResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/GetEPRStringResponse" />
    </operation>
    <operation name="start">
      <input message="tns:StartRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/StartRequest" />
      <output message="tns:StartResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/StartResponse" />
    </operation>
    <operation name="startStreaming">
      <input message="tns:StartStreamingRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/StartStreamingRequest" />
      <output message="tns:StartStreamingResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/StartStreamingResponse" />
    </operation>
    <operation name="endStreaming">
      <input message="tns:EndStreamingRequest" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/EndStreamingRequest" />
      <output message="tns:EndStreamingResponse" wsa:Action="http://helper.workflow.cagrid.org/WorkflowHelper/Invocation/EndStreamingResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe" />
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault" />
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault" />
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault" />
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault" />
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault" />
    </wsdl:operation>
  </portType>
</definitions>

