grid-incubation/test/projects/workflowHelper/resources/ValidateOutputsService/schema/ValidateOutputsService/ValidateOutputsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://systemtests.workflow.cagrid.org/SystemTests" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/types" name="ValidateOutputsService" targetNamespace="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://systemtests.workflow.cagrid.org/SystemTests" schemaLocation="./SystemTests.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/types" schemaLocation="./ValidateOutputsServiceTypes.xsd" />
      <element name="ValidateTestOutputRequest">
        <complexType>
          <sequence>
            <element name="test1Param1" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="test1Param2">
              <complexType>
                <sequence>
                  <element ref="ns0:ComplexType" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
            <element name="test1Param3" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <element name="test2Param1" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="test2Param2" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <element name="test2Param3" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <element name="test3Param1" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="test3Param2" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidateTestOutputResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SecureValidateTestOutputRequest">
        <complexType>
          <sequence>
            <element name="test1Param1" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="test1Param2">
              <complexType>
                <sequence>
                  <element ref="ns0:ComplexType" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
            <element name="test1Param3" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <element name="test2Param1" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="test2Param2" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <element name="test2Param3" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <element name="test3Param1" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="test3Param2" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SecureValidateTestOutputResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ValidateOutputsServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="ValidateTestOutputRequest">
    <part name="parameters" element="tns:ValidateTestOutputRequest" />
  </message>
  <message name="ValidateTestOutputResponse">
    <part name="parameters" element="tns:ValidateTestOutputResponse" />
  </message>
  <message name="SecureValidateTestOutputRequest">
    <part name="parameters" element="tns:SecureValidateTestOutputRequest" />
  </message>
  <message name="SecureValidateTestOutputResponse">
    <part name="parameters" element="tns:SecureValidateTestOutputResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="ValidateOutputsServicePortType" wsrp:ResourceProperties="tns:ValidateOutputsServiceResourceProperties">
    <operation name="validateTestOutput">
      <input message="tns:ValidateTestOutputRequest" wsa:Action="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/ValidateTestOutputRequest" />
      <output message="tns:ValidateTestOutputResponse" wsa:Action="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/ValidateTestOutputResponse" />
    </operation>
    <operation name="secureValidateTestOutput">
      <input message="tns:SecureValidateTestOutputRequest" wsa:Action="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/SecureValidateTestOutputRequest" />
      <output message="tns:SecureValidateTestOutputResponse" wsa:Action="http://validateoutputsservice.test.workflow.cagrid.org/ValidateOutputsService/SecureValidateTestOutputResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

