grid-incubation/incubator/projects/csm/projects/csm/schema/CSM/FilterCreator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://csm.gaards.cagrid.org/CSM/FilterCreator" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns0="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns8="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://gaards.cagrid.org/csm" xmlns:ns7="http://csm.gaards.cagrid.org/CSM/FilterCreator/types" xmlns:ns2="http://csm.gaards.cagrid.org/CSM/types" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" name="FilterCreator" targetNamespace="http://csm.gaards.cagrid.org/CSM/FilterCreator">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="./../wsrf/lifetime/WS-ResourceLifetime.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://csm.gaards.cagrid.org/CSM/FilterCreator" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://gaards.cagrid.org/csm" schemaLocation="./csm.xsd" />
      <import namespace="http://csm.gaards.cagrid.org/CSM/FilterCreator/types" schemaLocation="./FilterCreatorTypes.xsd" />
      <import namespace="http://csm.gaards.cagrid.org/CSM/types" schemaLocation="./CSMTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <element name="GetClassNamesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetClassNamesResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAssociatedClassNamesRequest">
        <complexType>
          <sequence>
            <element name="className" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAssociatedClassNamesResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAssociatedAttributesRequest">
        <complexType>
          <sequence>
            <element name="className" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAssociatedAttributesResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetFilterClauseBeanRequest">
        <complexType>
          <sequence>
            <element name="startingClass" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="filters" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <element name="targetClassAttribute" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="targetClassAlias" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="targetClassAttributeAlias" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetFilterClauseBeanResponse">
        <complexType>
          <sequence>
            <element ref="ns1:FilterClause" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FilterCreatorResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns8:CurrentTime" />
            <element ref="ns8:TerminationTime" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetClassNamesRequest">
    <part name="parameters" element="tns:GetClassNamesRequest" />
  </message>
  <message name="GetClassNamesResponse">
    <part name="parameters" element="tns:GetClassNamesResponse" />
  </message>
  <message name="GetAssociatedClassNamesRequest">
    <part name="parameters" element="tns:GetAssociatedClassNamesRequest" />
  </message>
  <message name="GetAssociatedClassNamesResponse">
    <part name="parameters" element="tns:GetAssociatedClassNamesResponse" />
  </message>
  <message name="GetAssociatedAttributesRequest">
    <part name="parameters" element="tns:GetAssociatedAttributesRequest" />
  </message>
  <message name="GetAssociatedAttributesResponse">
    <part name="parameters" element="tns:GetAssociatedAttributesResponse" />
  </message>
  <message name="GetFilterClauseBeanRequest">
    <part name="parameters" element="tns:GetFilterClauseBeanRequest" />
  </message>
  <message name="GetFilterClauseBeanResponse">
    <part name="parameters" element="tns:GetFilterClauseBeanResponse" />
  </message>
  <message name="CSMInternalFaultFaultMessage">
    <part name="fault" element="ns2:CSMInternalFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="FilterCreatorPortType" wsrp:ResourceProperties="tns:FilterCreatorResourceProperties">
    <operation name="getClassNames">
      <input message="tns:GetClassNamesRequest" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetClassNamesRequest" />
      <output message="tns:GetClassNamesResponse" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetClassNamesResponse" />
      <fault name="CSMInternalFault" message="tns:CSMInternalFaultFaultMessage" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/CSMInternalFaultFaultMessage" />
    </operation>
    <operation name="getAssociatedClassNames">
      <input message="tns:GetAssociatedClassNamesRequest" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetAssociatedClassNamesRequest" />
      <output message="tns:GetAssociatedClassNamesResponse" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetAssociatedClassNamesResponse" />
    </operation>
    <operation name="getAssociatedAttributes">
      <input message="tns:GetAssociatedAttributesRequest" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetAssociatedAttributesRequest" />
      <output message="tns:GetAssociatedAttributesResponse" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetAssociatedAttributesResponse" />
    </operation>
    <operation name="getFilterClauseBean">
      <input message="tns:GetFilterClauseBeanRequest" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetFilterClauseBeanRequest" />
      <output message="tns:GetFilterClauseBeanResponse" wsa:Action="http://csm.gaards.cagrid.org/CSM/FilterCreator/GetFilterClauseBeanResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy" />
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse" />
      <wsdl:fault message="wsrlw:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime" />
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse" />
      <wsdl:fault message="wsrlw:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault" />
      <wsdl:fault message="wsrlw:ResourceUnknownFault" name="ResourceUnknownFault" />
      <wsdl:fault message="wsrlw:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault" />
    </wsdl:operation>
  </portType>
</definitions>

