grid-incubation/test/projects/workflowHelper/resources/Service5/schema/Service5/Service5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service5.introduce.cagrid.org/Service5" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns1="http://service5.introduce.cagrid.org/Service5/types" xmlns:ns0="http://service1.workflow.cagrid.org/Service1" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="Service5" targetNamespace="http://service5.introduce.cagrid.org/Service5">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://service5.introduce.cagrid.org/Service5" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://service5.introduce.cagrid.org/Service5/types" schemaLocation="./Service5Types.xsd" />
      <import namespace="http://service1.workflow.cagrid.org/Service1" schemaLocation="./Service1.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <element name="CheckStringAndItsLengthRequest">
        <complexType>
          <sequence>
            <element name="stringAndItsLenght">
              <complexType>
                <sequence>
                  <element ref="ns0:StringAndItsLenght" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CheckStringAndItsLengthResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SecureCheckStringAndItsLengthRequest">
        <complexType>
          <sequence>
            <element name="stringAndItsLenght">
              <complexType>
                <sequence>
                  <element ref="ns0:StringAndItsLenght" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SecureCheckStringAndItsLengthResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="Service5ResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="CheckStringAndItsLengthRequest">
    <part name="parameters" element="tns:CheckStringAndItsLengthRequest" />
  </message>
  <message name="CheckStringAndItsLengthResponse">
    <part name="parameters" element="tns:CheckStringAndItsLengthResponse" />
  </message>
  <message name="SecureCheckStringAndItsLengthRequest">
    <part name="parameters" element="tns:SecureCheckStringAndItsLengthRequest" />
  </message>
  <message name="SecureCheckStringAndItsLengthResponse">
    <part name="parameters" element="tns:SecureCheckStringAndItsLengthResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="Service5PortType" wsrp:ResourceProperties="tns:Service5ResourceProperties">
    <operation name="checkStringAndItsLength">
      <input message="tns:CheckStringAndItsLengthRequest" wsa:Action="http://service5.introduce.cagrid.org/Service5/CheckStringAndItsLengthRequest" />
      <output message="tns:CheckStringAndItsLengthResponse" wsa:Action="http://service5.introduce.cagrid.org/Service5/CheckStringAndItsLengthResponse" />
    </operation>
    <operation name="secureCheckStringAndItsLength">
      <input message="tns:SecureCheckStringAndItsLengthRequest" wsa:Action="http://service5.introduce.cagrid.org/Service5/SecureCheckStringAndItsLengthRequest" />
      <output message="tns:SecureCheckStringAndItsLengthResponse" wsa:Action="http://service5.introduce.cagrid.org/Service5/SecureCheckStringAndItsLengthResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

