grid-incubation/test/projects/workflowHelper/resources/Service5/schema/Service5/Service1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://service1.workflow.cagrid.org/Service1"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:tns="http://service1.workflow.cagrid.org/Service1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="StringAndItsLenght" type="tns:StringAndItsLenght" />
	<xs:complexType name="StringAndItsLenght">
		<xs:sequence>
			<xs:element name="str" type="string"></xs:element>
			<xs:element name="length" type="int"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>