grid-incubation/test/projects/workflowHelper/resources/ReceiveArrayService/schema/ReceiveArrayService/ReceiveArrayService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns0="http://systemtests.workflow.cagrid.org/SystemTests" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/types" name="ReceiveArrayService" targetNamespace="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://systemtests.workflow.cagrid.org/SystemTests" schemaLocation="./SystemTests.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <import namespace="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/types" schemaLocation="./ReceiveArrayServiceTypes.xsd" />
      <element name="ReceiveArrayRequest">
        <complexType>
          <sequence>
            <element name="arrayStr" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="ReceiveArrayResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ReceiveArrayAndMoreRequest">
        <complexType>
          <sequence>
            <element name="number" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="strArray" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <element name="booleanValue" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ReceiveArrayAndMoreResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ReceiveComplexArrayRequest">
        <complexType>
          <sequence>
            <element name="number" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="complexArray">
              <complexType>
                <sequence>
                  <element ref="ns0:ComplexType" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
            <element name="booleanValue" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ReceiveComplexArrayResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SecureReceiveArrayRequest">
        <complexType>
          <sequence>
            <element name="arrayStr" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SecureReceiveArrayResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SecureReceiveArrayAndMoreRequest">
        <complexType>
          <sequence>
            <element name="number" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="strArray" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
            <element name="booleanValue" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SecureReceiveArrayAndMoreResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SecureReceiveComplexArrayRequest">
        <complexType>
          <sequence>
            <element name="number" type="xs:int" minOccurs="1" maxOccurs="1" />
            <element name="complexArray">
              <complexType>
                <sequence>
                  <element ref="ns0:ComplexType" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
            <element name="booleanValue" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="SecureReceiveComplexArrayResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ReceiveArrayServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="ReceiveArrayRequest">
    <part name="parameters" element="tns:ReceiveArrayRequest" />
  </message>
  <message name="ReceiveArrayResponse">
    <part name="parameters" element="tns:ReceiveArrayResponse" />
  </message>
  <message name="ReceiveArrayAndMoreRequest">
    <part name="parameters" element="tns:ReceiveArrayAndMoreRequest" />
  </message>
  <message name="ReceiveArrayAndMoreResponse">
    <part name="parameters" element="tns:ReceiveArrayAndMoreResponse" />
  </message>
  <message name="ReceiveComplexArrayRequest">
    <part name="parameters" element="tns:ReceiveComplexArrayRequest" />
  </message>
  <message name="ReceiveComplexArrayResponse">
    <part name="parameters" element="tns:ReceiveComplexArrayResponse" />
  </message>
  <message name="SecureReceiveArrayRequest">
    <part name="parameters" element="tns:SecureReceiveArrayRequest" />
  </message>
  <message name="SecureReceiveArrayResponse">
    <part name="parameters" element="tns:SecureReceiveArrayResponse" />
  </message>
  <message name="SecureReceiveArrayAndMoreRequest">
    <part name="parameters" element="tns:SecureReceiveArrayAndMoreRequest" />
  </message>
  <message name="SecureReceiveArrayAndMoreResponse">
    <part name="parameters" element="tns:SecureReceiveArrayAndMoreResponse" />
  </message>
  <message name="SecureReceiveComplexArrayRequest">
    <part name="parameters" element="tns:SecureReceiveComplexArrayRequest" />
  </message>
  <message name="SecureReceiveComplexArrayResponse">
    <part name="parameters" element="tns:SecureReceiveComplexArrayResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="ReceiveArrayServicePortType" wsrp:ResourceProperties="tns:ReceiveArrayServiceResourceProperties">
    <operation name="receiveArray">
      <input message="tns:ReceiveArrayRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveArrayRequest" />
      <output message="tns:ReceiveArrayResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveArrayResponse" />
    </operation>
    <operation name="receiveArrayAndMore">
      <input message="tns:ReceiveArrayAndMoreRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveArrayAndMoreRequest" />
      <output message="tns:ReceiveArrayAndMoreResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveArrayAndMoreResponse" />
    </operation>
    <operation name="receiveComplexArray">
      <input message="tns:ReceiveComplexArrayRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveComplexArrayRequest" />
      <output message="tns:ReceiveComplexArrayResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/ReceiveComplexArrayResponse" />
    </operation>
    <operation name="secureReceiveArray">
      <input message="tns:SecureReceiveArrayRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveArrayRequest" />
      <output message="tns:SecureReceiveArrayResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveArrayResponse" />
    </operation>
    <operation name="secureReceiveArrayAndMore">
      <input message="tns:SecureReceiveArrayAndMoreRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveArrayAndMoreRequest" />
      <output message="tns:SecureReceiveArrayAndMoreResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveArrayAndMoreResponse" />
    </operation>
    <operation name="secureReceiveComplexArray">
      <input message="tns:SecureReceiveComplexArrayRequest" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveComplexArrayRequest" />
      <output message="tns:SecureReceiveComplexArrayResponse" wsa:Action="http://receivearrayservice.introduce.cagrid.org/ReceiveArrayService/SecureReceiveComplexArrayResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

