projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/WS-BaseN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsnt="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../../ws/addressing/WS-Addressing.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" />
  <xsd:import schemaLocation="../properties/WS-ResourceProperties.xsd" namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" />
  <xsd:element name="Subscribe">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="ConsumerReference" type="wsa:EndpointReferenceType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="TopicExpression" type="wsnt:TopicExpressionType" />
        <xsd:element minOccurs="0" maxOccurs="1" default="true" name="UseNotify" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="1" name="Precondition" type="wsrp:QueryExpressionType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="Selector" type="wsrp:QueryExpressionType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="SubscriptionPolicy" type="xsd:anyType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="InitialTerminationTime" type="xsd:dateTime" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TopicExpressionType" mixed="true">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="1" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="Dialect" type="xsd:anyURI" />
  </xsd:complexType>
  <xsd:element name="TopicExpression" type="wsnt:TopicExpressionType" />
  <xsd:element name="Topic" type="wsnt:TopicExpressionType" />
  <xsd:element name="FixedTopicSet" type="xsd:boolean" />
  <xsd:element name="TopicExpressionDialects" type="xsd:anyURI" />
  <xsd:element name="ConsumerReference" type="wsa:EndpointReferenceType" />
  <xsd:element name="UseNotify" type="xsd:boolean" />
  <xsd:element name="Precondition" type="wsrp:QueryExpressionType" />
  <xsd:element name="Selector" type="wsrp:QueryExpressionType" />
  <xsd:element name="SubscriptionPolicy" type="xsd:anyType" />
  <xsd:element name="CreationTime" type="xsd:dateTime" />
</xsd:schema>