projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/WS-BaseFaults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../../ws/addressing/WS-Addressing.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" />
  <xsd:import schemaLocation="../../ws/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace">
    <xsd:annotation>
      <xsd:documentation>
        Get access to the xml: attribute groups for xml:lang as declared on 'schema'
        and 'documentation' below
      </xsd:documentation>
    </xsd:annotation>
  </xsd:import>
  <xsd:element name="BaseFault" type="wsbf:BaseFaultType" />
  <xsd:complexType name="BaseFaultType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Originator" type="wsa:EndpointReferenceType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ErrorCode">
        <xsd:complexType>
          <xsd:complexContent mixed="true">
            <xsd:extension base="xsd:anyType">
              <xsd:attribute name="dialect" type="xsd:anyURI" use="required" />
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Description">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute ref="xml:lang" use="optional" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FaultCause" type="wsbf:BaseFaultType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>