projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/WS-ResourceProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:attribute name="ResourceProperties" type="xsd:QName" />
  <xsd:complexType name="ResourcePropertyValueChangeNotificationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="OldValue" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="NewValue" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ResourcePropertyValueChangeNotification" type="wsrp:ResourcePropertyValueChangeNotificationType" />
  <xsd:complexType name="QueryExpressionType" mixed="true">
    <xsd:sequence>
      <xsd:any minOccurs="0" maxOccurs="1" processContents="lax" />
    </xsd:sequence>
    <xsd:attribute name="Dialect" type="xsd:anyURI" />
  </xsd:complexType>
  <xsd:element name="QueryExpression" type="wsrp:QueryExpressionType" />
</xsd:schema>