projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/WS-ResourceProperties.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WS-ResourceProperties" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd">
      <xsd:include schemaLocation="./WS-ResourceProperties.xsd" />
      <xsd:import schemaLocation="../../ws/addressing/WS-Addressing.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" />
      <xsd:import schemaLocation="../faults/WS-BaseFaults.xsd" namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" />
      <xsd:element name="GetResourceProperty" type="xsd:QName" />
      <xsd:element name="GetResourcePropertyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ResourceUnknownFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ResourceUnknownFault" type="wsrp:ResourceUnknownFaultType" />
      <xsd:complexType name="InvalidResourcePropertyQNameFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="InvalidResourcePropertyQNameFault" type="wsrp:InvalidResourcePropertyQNameFaultType" />
      <xsd:element name="GetMultipleResourceProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="ResourceProperty" type="xsd:QName" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMultipleResourcePropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InsertType">
        <xsd:sequence>
          <xsd:any minOccurs="1" maxOccurs="unbounded" processContents="lax" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Insert" type="wsrp:InsertType" />
      <xsd:complexType name="UpdateType">
        <xsd:sequence>
          <xsd:any minOccurs="1" maxOccurs="unbounded" processContents="lax" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Update" type="wsrp:UpdateType" />
      <xsd:complexType name="DeleteType">
        <xsd:attribute name="ResourceProperty" type="xsd:QName" use="required" />
      </xsd:complexType>
      <xsd:element name="Delete" type="wsrp:DeleteType" />
      <xsd:element name="SetResourceProperties">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="wsrp:Insert" />
            <xsd:element ref="wsrp:Update" />
            <xsd:element ref="wsrp:Delete" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SetResourcePropertiesResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:complexType name="InvalidSetResourcePropertiesRequestContentFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="InvalidSetResourcePropertiesRequestContentFault" type="wsrp:InvalidSetResourcePropertiesRequestContentFaultType" />
      <xsd:complexType name="UnableToModifyResourcePropertyFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UnableToModifyResourcePropertyFault" type="wsrp:UnableToModifyResourcePropertyFaultType" />
      <xsd:complexType name="SetResourcePropertyRequestFailedFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="SetResourcePropertyRequestFailedFault" type="wsrp:SetResourcePropertyRequestFailedFaultType" />
      <xsd:element name="QueryResourceProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" ref="wsrp:QueryExpression" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryResourcePropertiesResponse">
        <xsd:complexType mixed="true">
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="unbounded" processContents="lax" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UnknownQueryExpressionDialectFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="UnknownQueryExpressionDialectFault" type="wsrp:UnknownQueryExpressionDialectFaultType" />
      <xsd:complexType name="InvalidQueryExpressionFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="InvalidQueryExpressionFault" type="wsrp:InvalidQueryExpressionFaultType" />
      <xsd:complexType name="QueryEvaluationErrorFaultType">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wsbf:BaseFaultType" />
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="QueryEvaluationErrorFault" type="wsrp:QueryEvaluationErrorFaultType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetResourcePropertyRequest">
    <wsdl:part name="GetResourcePropertyRequest" element="wsrp:GetResourceProperty" />
  </wsdl:message>
  <wsdl:message name="GetResourcePropertyResponse">
    <wsdl:part name="GetResourcePropertyResponse" element="wsrp:GetResourcePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ResourceUnknownFault">
    <wsdl:part name="ResourceUnknownFault" element="wsrp:ResourceUnknownFault" />
  </wsdl:message>
  <wsdl:message name="InvalidResourcePropertyQNameFault">
    <wsdl:part name="InvalidResourcePropertyQNameFault" element="wsrp:InvalidResourcePropertyQNameFault" />
  </wsdl:message>
  <wsdl:message name="GetMultipleResourcePropertiesRequest">
    <wsdl:part name="GetMultipleResourcePropertiesRequest" element="wsrp:GetMultipleResourceProperties" />
  </wsdl:message>
  <wsdl:message name="GetMultipleResourcePropertiesResponse">
    <wsdl:part name="GetMultipleResourcePropertiesResponse" element="wsrp:GetMultipleResourcePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="SetResourcePropertiesRequest">
    <wsdl:part name="SetResourcePropertiesRequest" element="wsrp:SetResourceProperties" />
  </wsdl:message>
  <wsdl:message name="SetResourcePropertiesResponse">
    <wsdl:part name="SetResourcePropertiesResponse" element="wsrp:SetResourcePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidSetResourcePropertiesRequestContentFault">
    <wsdl:part name="InvalidSetResourcePropertiesRequestContentFault" element="wsrp:InvalidSetResourcePropertiesRequestContentFault" />
  </wsdl:message>
  <wsdl:message name="UnableToModifyResourcePropertyFault">
    <wsdl:part name="UnableToModifyResourcePropertyFault" element="wsrp:UnableToModifyResourcePropertyFault" />
  </wsdl:message>
  <wsdl:message name="SetResourcePropertyRequestFailedFault">
    <wsdl:part name="SetResourcePropertyRequestFailedFault" element="wsrp:SetResourcePropertyRequestFailedFault" />
  </wsdl:message>
  <wsdl:message name="QueryResourcePropertiesRequest">
    <wsdl:part name="QueryResourcePropertiesRequest" element="wsrp:QueryResourceProperties" />
  </wsdl:message>
  <wsdl:message name="QueryResourcePropertiesResponse">
    <wsdl:part name="QueryResourcePropertiesResponse" element="wsrp:QueryResourcePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="UnknownQueryExpressionDialectFault">
    <wsdl:part name="UnknownQueryExpressionDialectFault" element="wsrp:UnknownQueryExpressionDialectFault" />
  </wsdl:message>
  <wsdl:message name="InvalidQueryExpressionFault">
    <wsdl:part name="InvalidQueryExpressionFault" element="wsrp:InvalidQueryExpressionFault" />
  </wsdl:message>
  <wsdl:message name="QueryEvaluationErrorFault">
    <wsdl:part name="QueryEvaluationErrorFault" element="wsrp:QueryEvaluationErrorFault" />
  </wsdl:message>
  <wsdl:portType name="GetResourceProperty">
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" />
      <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetMultipleResourceProperties">
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" />
      <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SetResourceProperties">
    <wsdl:operation name="SetResourceProperties">
      <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties" name="SetResourcePropertiesRequest" message="wsrpw:SetResourcePropertiesRequest" />
      <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourcePropertiesResponse" name="SetResourcePropertiesResponse" message="wsrpw:SetResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidSetResourcePropertiesRequestContentFault" message="wsrpw:InvalidSetResourcePropertiesRequestContentFault" />
      <wsdl:fault name="UnableToModifyResourcePropertyFault" message="wsrpw:UnableToModifyResourcePropertyFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="SetResourcePropertyRequestFailedFault" message="wsrpw:SetResourcePropertyRequestFailedFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="QueryResourceProperties">
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" />
      <wsdl:output wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>