openMDR_1.1/projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://cagrid.org/schema/config" elementFormDefault="qualified" targetNamespace="http://cagrid.org/schema/config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="config" />
  <xs:complexType name="config">
    <xs:sequence>
      <xs:element ref="resources" />
      <xs:element ref="cache_config" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resources" type="resources" />
  <xs:complexType name="resources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="query_service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="query_service" type="query_service" />
  <xs:complexType name="query_service">
    <xs:sequence>
      <xs:element name="title" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="webUrl" type="xs:anyURI" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="identifier_prefix" type="xs:string" />
    <xs:attribute name="category" type="category" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="serviceUrl" type="xs:string" />
    <xs:attribute name="connection_type" type="xs:string" />
    <xs:attribute name="requestSequence" type="xs:string" />
    <xs:attribute name="digestSequence" type="xs:string" />
    <xs:attribute name="cache_collection_id" type="xs:string" />
    <xs:attribute name="cache_provider" type="xs:string" />
    <xs:attribute name="cache" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="cache_config" type="cache_config" />
  <xs:complexType name="cache_config">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cache_provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cache_provider" type="cache_provider" />
  <xs:complexType name="cache_provider">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="class" type="xs:string" />
    <xs:attribute name="username" type="xs:string" />
    <xs:attribute name="userpassword" type="xs:string" />
    <xs:attribute name="resource" type="xs:string" />
    <xs:attribute name="cache_period" type="xs:long" />
  </xs:complexType>
  <xs:simpleType name="category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONCEPT" />
      <xs:enumeration value="CDE" />
      <xs:enumeration value="CLASSIFICATION_SCHEME" />
      <xs:enumeration value="CONCEPTID" />
      <xs:enumeration value="UNKNOWN" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>