openMDR_1.1/projects/mdrPlugins/QueryServiceControl/Web References/QueryServiceManager/WS-ResourceLifetime.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsrl="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CurrentTime" type="xsd:dateTime" />
  <xsd:element name="TerminationTime" nillable="true" type="xsd:dateTime" />
  <xsd:element name="TerminationNotification">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="TerminationTime" type="xsd:dateTime" />
        <xsd:element minOccurs="0" maxOccurs="1" name="TerminationReason" type="xsd:anyType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>