db/mdr/schemas/cgMDR_resources.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.cancergrid.org/schema/cgMDR" xmlns:cgMDR="http://www.cancergrid.org/schema/cgMDR" xmlns:iso11179="http://www.cancergrid.org/schema/ISO11179" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cancergrid.org/schema/cgMDR" elementFormDefault="qualified" finalDefault="" blockDefault="" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.cancergrid.org/schema/ISO11179" schemaLocation="../schemas/iso11179.xsd"/>
    <xs:include schemaLocation="../schemas/cgMDR_status_codes.xsd"/>
    <xs:element name="Value_Domain" type="Value_Domain" nillable="false" abstract="false"/>
    <xs:complexType name="Value_Domain" mixed="false" abstract="false">
        <xs:complexContent>
            <xs:extension base="cgAdministered_Item">
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element name="typed_by" type="administered_item_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
                    <xs:element name="value_domain_datatype" type="datatype_identifier" minOccurs="1" maxOccurs="1" nillable="false">
                        <xs:annotation>
                            <xs:documentation>foreignKey:Datatype@datatype_identifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value_domain_format" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
                    <xs:element name="value_domain_maximum_character_quantity" type="xs:int" minOccurs="0" maxOccurs="1" nillable="false"/>
                    <xs:element name="value_domain_unit_of_measure" type="unit_of_measure_identifier" minOccurs="0" maxOccurs="1" nillable="false">
                        <xs:annotation>
                            <xs:documentation>foreignKey: Unit_Of_Measure@unit_of_measure_identifier</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="related_to" type="Value_Domain_Relationship" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Unit_of_Measure" type="Unit_of_Measure" nillable="false" abstract="false"/>
    <xs:complexType name="Unit_of_Measure" mixed="false" abstract="false">
        <xs:complexContent>
            <xs:extension base="cgMDR:Unit_of_Measure">
                <xs:sequence minOccurs="1" maxOccurs="1"/>
                <xs:attribute name="unit_of_measure_identifier" use="required" type="unit_of_measure_identifier"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Conceptual_Domain" type="Conceptual_Domain" nillable="false" abstract="false"/>
    <xs:complexType name="Conceptual_Domain" mixed="false" abstract="false">
        <xs:complexContent>
            <xs:extension base="cgAdministered_Item">
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element name="dimensionality" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
                    <xs:element name="related_to" type="Conceptual_Domain_Relationship" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="reference_document_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="datatype_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:element name="Terminological_Entry" type="Terminological_Entry" nillable="false" abstract="false"/>
    <xs:complexType name="Terminological_Entry" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="context_identifier" type="administered_item_identifier" minOccurs="1" maxOccurs="1" nillable="false">
                <xs:annotation>
                    <xs:documentation>from the domain context</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="containing" type="Language_Section" maxOccurs="unbounded" minOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="identifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Language_Identifier">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eng">
                <xs:annotation>
                    <xs:documentation>English</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="fra">
                <xs:annotation>
                    <xs:documentation>French</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="cgLanguage_Identification" type="cgLanguage_Identification" nillable="false" abstract="false"/>
    <xs:complexType name="cgLanguage_Identification" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="country_identifier" type="Country_Identifier" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="language_identifier" type="Language_Identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="contact_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="organization_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="referenceURI">
        <xs:annotation>
            <xs:documentation>A URI call out to an external reference</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:element name="cgDatatype" type="cgDatatype" nillable="false" abstract="false"/>
    <xs:complexType name="cgDatatype" mixed="false" abstract="false">
        <xs:complexContent>
            <xs:extension base="Datatype">
                <xs:sequence minOccurs="1" maxOccurs="1"/>
                <xs:attribute name="datatype_identifier" use="required" type="datatype_identifier"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Conceptual_Domain_Relationship" type="Conceptual_Domain_Relationship" nillable="false" abstract="false"/>
    <xs:complexType name="Conceptual_Domain_Relationship" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="related_to" type="administered_item_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="conceptual_domain_relationship_type_description" type="relationship_type_name" minOccurs="0" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="cgAdministered_Item" type="cgAdministered_Item" nillable="false" abstract="false"/>
    <xs:complexType name="cgAdministered_Item" abstract="true" mixed="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="administered_item_administration_record" type="cgAdministration_Record" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="administered_by" type="contact_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="registered_by" type="organization_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="submitted_by" type="contact_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="described_by" type="reference_document_identifier" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
            <xs:element name="classified_by" type="classification_scheme_item_identifier" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
            <xs:element name="having" type="Terminological_Entry" maxOccurs="unbounded" minOccurs="1" nillable="false"/>
        </xs:sequence>
        <xs:attributeGroup ref="cgItem_Identifier"/>
    </xs:complexType>
    <xs:element name="Language_Section" type="Language_Section" nillable="false" abstract="false"/>
    <xs:complexType name="Language_Section" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="language_section_language_identifier" type="cgLanguage_Identification" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="definition_text" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="preferred_designation" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="definition_source_reference" type="reference_document_identifier" minOccurs="0" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="unit_of_measure_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="Country_Identifier">
        <xs:annotation>
            <xs:documentation>A non-exhaustive list is supplied here of large countries with which the project may exchange information by virtue of collaboration and association at the time of transcription.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AU">
                <xs:annotation>
                    <xs:documentation>Australia</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CA">
                <xs:annotation>
                    <xs:documentation>Canada</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GB">
                <xs:annotation>
                    <xs:documentation>United Kingdom</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SG">
                <xs:annotation>
                    <xs:documentation>Singapore</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="US">
                <xs:annotation>
                    <xs:documentation>United States</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="administered_item_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:element name="Datatype" type="Datatype" nillable="false" abstract="false"/>
    <xs:complexType name="Datatype" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="datatype_annotation" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="datatype_description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="datatype_name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="datatype_scheme_reference" type="datatype_scheme_reference" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="cgAdministration_Record" type="cgAdministration_Record" nillable="false" abstract="false"/>
    <xs:complexType name="cgAdministration_Record" mixed="false" abstract="false">
        <xs:annotation>
            <xs:documentation>An instance of an Administration Record records information about an Administered Item in the registry. The Administration Record instance provides a basis for identifying, naming, defining, classifying and recording administrative information about the Administered Item in the registry.

When an Administered Item is modified, it becomes a new version of the Administered Item and it thus requires a new version of its Administration Record. The administration record - creation date, the reason for change (administration record - change), the contact persons for the responsible and submitting organizations, Registration Authority, and the Registrar shall be provided for this new Administered Item. The Registrar may collect history by retaining the old Administration Record.</xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="administrative_note" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="administrative_status" type="Administrative_Status" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="change_description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="creation_date" type="xs:date" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="effective_date" type="xs:date" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="explanatory_comment" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="last_change_date" type="xs:date" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="registration_status" type="Registration_Status" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="unresolved_issue" type="xs:string" minOccurs="0" maxOccurs="1" nillable="false"/>
            <xs:element name="until_date" type="xs:date" minOccurs="0" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="classification_scheme_item_identifier">
        <xs:annotation>
            <xs:documentation>Types the identifier for a classification scheme</xs:documentation>
        </xs:annotation>
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="classification_scheme_type_name">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ontology"/>
            <xs:enumeration value="thesaurus"/>
            <xs:enumeration value="controlled_vocabulary"/>
            <xs:enumeration value="taxonomy"/>
            <xs:enumeration value="topic_map"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="relationship_type_name">
        <xs:restriction base="xs:string">
            <xs:enumeration value="broaderTerm"/>
            <xs:enumeration value="narrowerTerm"/>
            <xs:enumeration value="relatedTerm"/>
            <xs:enumeration value="useFor"/>
            <xs:enumeration value="useInstead"/>
            <xs:enumeration value="useInsteadOf"/>
            <xs:enumeration value="contains"/>
            <xs:enumeration value="partOf"/>
            <xs:enumeration value="equivalentTo"/>
            <xs:enumeration value="supercededBy"/>
            <xs:enumeration value="supercededFrom"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="value_meaning_identifier">
        <xs:restriction base="cgMDR:identifier"/>
    </xs:simpleType>
    <xs:simpleType name="datatype_scheme_reference">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMLSchema"/>
            <xs:enumeration value="dotNet"/>
            <xs:enumeration value="Java"/>
            <xs:enumeration value="Python"/>
            <xs:enumeration value="Perl"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="cgItem_Identifier">
        <xs:annotation>
            <xs:documentation>Implements cgMDR:Item_Identifier

Abstracted so it could be an attribute of the root element</xs:documentation>
        </xs:annotation>
        <xs:attribute name="item_registration_authority_identifier" use="required" type="xs:string"/>
        <xs:attribute name="data_identifier" use="required" type="xs:string"/>
        <xs:attribute name="version" use="required" type="xs:string"/>
    </xs:attributeGroup>
    <xs:element name="Value_Domain_Relationship" type="Value_Domain_Relationship" nillable="false" abstract="false"/>
    <xs:complexType name="Value_Domain_Relationship" mixed="false" abstract="false">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="value_domain_relationship_type_description" type="relationship_type_name" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element name="related_to" type="administered_item_identifier" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>