db/mdr/schemas/cgMDR_status_codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cgMDR="http://www.cancergrid.org/schema/cgMDR" xmlns="http://www.cancergrid.org/schema/cgMDR" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cancergrid.org/schema/cgMDR" finalDefault="" blockDefault="" attributeFormDefault="unqualified" elementFormDefault="unqualified">
    <xs:simpleType name="Reference_Document_Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="commissioning">
                <xs:annotation>
                    <xs:documentation>reference documents that commission the creation of data
               elements</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="descriptive">
                <xs:annotation>
                    <xs:documentation>reference documents that describe and support a data element, value
                  domain or any of the semantic classes in the knowledge domain</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="operational">
                <xs:annotation>
                    <xs:documentation>reference documents that support the operation of the metadata
                  repository</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="review">
                <xs:annotation>
                    <xs:documentation>documents that describe the results of a review process on a data
                  element</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Registration_Status">
        <xs:annotation>
            <xs:documentation>designation of the status in the registration life-cycle of an
            Administered Item [ISO/IEC 11179-3:2003, definition 3.3.125] Taken from
            ISO/IEC11179-6:2005(E) 4.1.3</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Application">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the Application status shall mean that
                  the Registration Authority wishes to make the community that uses this metadata
                  register aware of the existence of an Administered Item in their local domain that
                  is used by an application system. This item may be very well described. Items with
                  the Application status may be from application systems that are in current
                  development.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Candidate">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the Candidate status shall indicate that
                  it has been proposed for progression through the registration levels. Administered
                  Items in the Candidate status are maintained under version control. The minimum
                  metadata attribute documentation for the Candidate status is administered item
                  identifier, designation, definition, submitter organization name, submitter
                  contact name, submitter contact information, stewardship organization name,
                  stewardship contact name, and stewardship contact information. The registered
                  Administered Item may not contain all mandatory attribute
               values.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Historical">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the Historical status shall indicate that
                  the Submitter wishes to make the community that uses this metadata register aware
                  of the existence of an item that was used in the past and has not been used
                  recently. It is important to record so that related items may be given additional
                  perspective through knowledge of this item. A Historical Administered Item has not
                  passed through the dynamic registration levels.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Incomplete">
                <xs:annotation>
                    <xs:documentation>Submitter wishes to make the community that uses this metadata
                  register aware of the existence of an Administered Item in their local
               domain.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PreferredStandard">
                <xs:annotation>
                    <xs:documentation>The Registration Authority confirms that the Administered Item is
                  preferred for use within the community that uses this metadata
               register.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Qualified">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the Qualified status shall mean that the
                  Administration Item had a Recorded registration status and the Registration
                  Authority has confirmed that the mandatory metadata attributes are complete and
                  conform to applicable quality requirements. In the event that an Administered Item
                  is not approved by the Registration Authority for the Qualified registration
                  status level, it shall remain at the Recorded registration status
               level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Recorded">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the Recorded status shall mean that all
                  mandatory metadata attributes have been completed. An Administered Item in the
                  Recorded status implies that the Administered Item may be shared across domains.
                  The contents of the mandatory metadata attributes may not conform to quality
                  requirements. The Submitter may request the retirement of an Administered Item in
                  the registration status of Recorded at any time. Administered Items in Recorded
                  registration status or higher are maintained under version
               control.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Retired">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the “Retired” status indicates that the
                  Registration Authority has determined the Administered Item is no longer
                  recommended for use in the community that uses this metadata register. A “Retired”
                  Administered Item should no longer be used. Such Administered Items are retained
                  in the metadata register archival storage facility for historic reference and
                  research purposes. “Retired” Administered Items should include a reference to
                  replacement Administered Items when appropriate. Only editorial edits of “Retired”
                  Administered Items are permitted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Standard">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the “Standard” status indicates that the
                  Administration Item had a “Qualified” registration status and the Registration
                  Authority confirms that the Administered Item is of sufficient quality and of
                  broad interest for use in the community that uses this metadata register. There
                  may be more than one “Standard” Administered Item that addresses the same
                  function, concept etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Superseded">
                <xs:annotation>
                    <xs:documentation>An Administered Item with the “Superseded” status indicates that
                  the Registration Authority has determined the Administered Item is no longer
                  recommended for use in the community that uses this metadata register. A
                  “Superseded” Administered Item may be used but the successor Administered Item is
                  the preferred for use. Such Administered Items are retained in the metadata
                  register archival storage facility for historic reference purposes. “Superseded”
                  Administered Items should include a reference to replacement Administered Items
                  when appropriate. Only editorial edits of “Superseded” Administered Items are
                  permitted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Administrative_Status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="noPendingChanges"/>
            <xs:enumeration value="scheduledForReview"/>
            <xs:enumeration value="underReview"/>
            <xs:enumeration value="inConsultation"/>
            <xs:enumeration value="changesPending"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Admin_Item_Relationship">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BT">
                <xs:annotation>
                    <xs:documentation>broader than</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CO">
                <xs:annotation>
                    <xs:documentation>contains</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQ">
                <xs:annotation>
                    <xs:documentation>equivalent to</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NT">
                <xs:annotation>
                    <xs:documentation>narrower than</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PO">
                <xs:annotation>
                    <xs:documentation>part of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SB">
                <xs:annotation>
                    <xs:documentation>superceded by</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SF">
                <xs:annotation>
                    <xs:documentation>superceded from</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UI">
                <xs:annotation>
                    <xs:documentation>use instead</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UIO">
                <xs:annotation>
                    <xs:documentation>use instead of</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>