grid-incubation/incubator/projects/monitor/projects/monitoringService/schema/MonitoringService/MonitoringService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://monitor.cagrid.org/MonitoringService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns1="http://monitor.cagrid.org/MonitoringService/types" xmlns:ns0="http://monitor.cagrid.org/MonitorService" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" name="MonitoringService" targetNamespace="http://monitor.cagrid.org/MonitoringService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://monitor.cagrid.org/MonitoringService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://monitor.cagrid.org/MonitoringService/types" schemaLocation="./MonitoringServiceTypes.xsd" />
      <import namespace="http://monitor.cagrid.org/MonitorService" schemaLocation="./monitor.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <element name="StartMonitoringRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StartMonitoringResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StopMonitoringRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StopMonitoringResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="AddServiceRequest">
        <complexType>
          <sequence>
            <element name="service">
              <complexType>
                <sequence>
                  <element ref="ns0:Service" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddServiceResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:long" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AddTaskRequest">
        <complexType>
          <sequence>
            <element name="task">
              <complexType>
                <sequence>
                  <element ref="ns0:Task" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddTaskResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:long" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="AddEventRequest">
        <complexType>
          <sequence>
            <element name="event">
              <complexType>
                <sequence>
                  <element ref="ns0:Event" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddEventResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:long" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEventHistoryRequest">
        <complexType>
          <sequence>
            <element name="event">
              <complexType>
                <sequence>
                  <element ref="ns0:Event" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetEventHistoryResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Job" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="AddServiceMetadataRequest">
        <complexType>
          <sequence>
            <element name="serviceMetadata">
              <complexType>
                <sequence>
                  <element ref="ns3:ServiceMetadata" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddServiceMetadataResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="MonitoringServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="StartMonitoringRequest">
    <part name="parameters" element="tns:StartMonitoringRequest" />
  </message>
  <message name="StartMonitoringResponse">
    <part name="parameters" element="tns:StartMonitoringResponse" />
  </message>
  <message name="StopMonitoringRequest">
    <part name="parameters" element="tns:StopMonitoringRequest" />
  </message>
  <message name="StopMonitoringResponse">
    <part name="parameters" element="tns:StopMonitoringResponse" />
  </message>
  <message name="AddServiceRequest">
    <part name="parameters" element="tns:AddServiceRequest" />
  </message>
  <message name="AddServiceResponse">
    <part name="parameters" element="tns:AddServiceResponse" />
  </message>
  <message name="AddTaskRequest">
    <part name="parameters" element="tns:AddTaskRequest" />
  </message>
  <message name="AddTaskResponse">
    <part name="parameters" element="tns:AddTaskResponse" />
  </message>
  <message name="AddEventRequest">
    <part name="parameters" element="tns:AddEventRequest" />
  </message>
  <message name="AddEventResponse">
    <part name="parameters" element="tns:AddEventResponse" />
  </message>
  <message name="GetEventHistoryRequest">
    <part name="parameters" element="tns:GetEventHistoryRequest" />
  </message>
  <message name="GetEventHistoryResponse">
    <part name="parameters" element="tns:GetEventHistoryResponse" />
  </message>
  <message name="AddServiceMetadataRequest">
    <part name="parameters" element="tns:AddServiceMetadataRequest" />
  </message>
  <message name="AddServiceMetadataResponse">
    <part name="parameters" element="tns:AddServiceMetadataResponse" />
  </message>
  <message name="MonitorFaultFaultMessage">
    <part name="fault" element="ns1:MonitorFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="MonitoringServicePortType" wsrp:ResourceProperties="tns:MonitoringServiceResourceProperties">
    <operation name="startMonitoring">
      <input message="tns:StartMonitoringRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/StartMonitoringRequest" />
      <output message="tns:StartMonitoringResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/StartMonitoringResponse" />
    </operation>
    <operation name="stopMonitoring">
      <input message="tns:StopMonitoringRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/StopMonitoringRequest" />
      <output message="tns:StopMonitoringResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/StopMonitoringResponse" />
    </operation>
    <operation name="addService">
      <input message="tns:AddServiceRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddServiceRequest" />
      <output message="tns:AddServiceResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddServiceResponse" />
      <fault name="MonitorFault" message="tns:MonitorFaultFaultMessage" wsa:Action="http://monitor.cagrid.org/MonitoringService/MonitorFaultFaultMessage" />
    </operation>
    <operation name="addTask">
      <input message="tns:AddTaskRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddTaskRequest" />
      <output message="tns:AddTaskResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddTaskResponse" />
      <fault name="MonitorFault" message="tns:MonitorFaultFaultMessage" wsa:Action="http://monitor.cagrid.org/MonitoringService/MonitorFaultFaultMessage" />
    </operation>
    <operation name="addEvent">
      <input message="tns:AddEventRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddEventRequest" />
      <output message="tns:AddEventResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddEventResponse" />
      <fault name="MonitorFault" message="tns:MonitorFaultFaultMessage" wsa:Action="http://monitor.cagrid.org/MonitoringService/MonitorFaultFaultMessage" />
    </operation>
    <operation name="getEventHistory">
      <input message="tns:GetEventHistoryRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/GetEventHistoryRequest" />
      <output message="tns:GetEventHistoryResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/GetEventHistoryResponse" />
      <fault name="MonitorFault" message="tns:MonitorFaultFaultMessage" wsa:Action="http://monitor.cagrid.org/MonitoringService/MonitorFaultFaultMessage" />
    </operation>
    <operation name="addServiceMetadata">
      <input message="tns:AddServiceMetadataRequest" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddServiceMetadataRequest" />
      <output message="tns:AddServiceMetadataResponse" wsa:Action="http://monitor.cagrid.org/MonitoringService/AddServiceMetadataResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

